body{
    margin: 0;
    padding:0;
    background-color: skyblue;
}
.card{
    height: 85vh;
    width: 55vh;
    background-color:rgb(100, 93, 0);
    color: white;
    border-radius: 20px;
    text-align:justify;
    margin: 2%;
    margin-left: 35%;
    padding: 5px 0;
    align-items: center;
    
}
h1{
    text-align: center;
    padding: 4px;
}
form input{
    margin-left: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
}
input{
    display: flex;
}
form{
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}
button{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid yellow;
    border-radius: 5px;
    align-items:center;
}